@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-blue-500 {
  background-color: #4299e1;
}
body{
    background-color: rgb(214, 214, 50);
    padding-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  
  .toggle-btn:hover {
    background-color: #fff;
  }

 tr.shown, tr.hidden {
  background-color: #eee;
  height: 500px;
}

tr.hidden {
  display: none;
}

tr.visually-hidden {
  width: auto;
  height: 500px;
}
tr.btn {
  float: right;
}
button {
  width: 100px;
}
.row-color:nth-child(odd) {
  background-color: #fff;
}

.row-color:nth-child(even) {
  background-color: #edf2f7;
}
.searchForm{
  z-index: 0;
}
.align-right{
  text-align: right;
}
.popup{
  z-index: 2;
}
.popup-inner {
  z-index: 3;
}
.intervals{
  display: flex;
}