@tailwind base;
@tailwind components;
@tailwind utilities;
.main-header{
    background-color: beige;
    padding-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

th {
  background-color: #f2f2f2;
}

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  
  .toggle-btn:hover {
    background-color: #fff;
  }

 tr.shown, tr.hidden {
  background-color: #eee;
  height: 500px;
}

tr.hidden {
  display: none;
}

tr.visually-hidden {
  width: auto;
  height: 500px;
}
button {
  width: 100px;
}